*
{
    padding:0;
    margin:0;
}

body
{
    background-color: #F4F4F4;
    font-family:"Microsoft YaHei";
}

a
{
    text-decoration: none;
}



.head
{
    width:100%;
    height:80px;
    background-color:white;
    border-bottom:2px solid #eeeeee;
    margin:0 auto;
    
}

.header
{
    width:1000px;
    height:80px;
    margin:0 auto;
    position: relative;
}

.head1
{
    border-top:5px solid red;
    margin-right: 70px;
    line-height: 75px;
    font-size: 20px;
    height: 75px;
    width:40px;
    color:red;
    float:left;
}

.head2
{
    font-size: 20px;
    line-height: 85px;
    height:100%;
    width:80px;
    color:#666666;
    margin-right: 110px;
    float:left;
}

.logo
{
    width:99px;
    height:34px;
    float:left;
    margin: 23px 43px 23px 0;
}


.search
{
    height:35px;
    width:350px;
    background-image:url('search.png');
    position: relative;
    float:left;
    margin-top:22px;
}


.searchinp
{
    height:28px;
    width:250px;
    position: absolute;
    border: hidden;
    outline:medium;
    top:2px;
    bottom: 2px;
    left:10px;
}

.searchbut
{
    height: 30px;
    width: 80px;
    position:absolute;
    display: inline-block;
    right:0px;
    background: none;
    border: none;
    cursor:pointer;
}

.signin
{
    width: 90px;
    height: 30px;
    background-color: #1dc091;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    border:hidden;
    line-height: 30px;
    position: absolute;
    right:20px;
    top:20px;
    
}


.photo
{
    width:100%;
    height:355px;
    margin:0 auto;
    text-align: center;
}

.father
{
    width:1000px;
    margin:0 auto;
}


.circle
{
    width:96px;
    height:96px;
    background-color:white;
    border-radius:50%;
    border:2px solid;
    border-color:#1dc091;
    color: #1dc091;
    font-size: 36px;
    text-align: center;
    line-height: 96px;
    display: inline-block;
    text-align: center;
    margin:0 56px 40px 56px;
}

.main
{
    width:888px;
    height:322px;
    background-color: white;
    margin:0 auto;
    font-size:14px;
    color:#5c5c5c;
    padding:40px 56px 48px 56px;
}

.main a
{
    display: block;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#5c5c5c;
}

.maintext
{
    border-right:2px solid #eeeeee;
    width:130px;
    height:124px;
    padding:0 45px 0 45px;
}
.maintext2
{
    border:none;
    width:130px;
    height:124px;
    padding:0 45px 0 45px;
}

.main1
{
 
    width:220px;
    height:100%;
    float:left;
}

.main2
{
    width:220px;
    height:100%;
    
    float:left;
}

.main3
{
    width:220px;
    height:100%;
    float:left;
}

.main4
{

    width:220px;
    height:100%;
    float:left;
}

.info
{
    font-size:12px;
    margin-left: 14px;
}
.info:hover{color:red}

div.main a:hover {color:red}

.more
{
    width:25px;
    height:25px;
    background-color:white;
    border-radius:50%;
    color:#1dc091;
    line-height:25px;
    font-size:25px;
    border: 1px solid #1dc091;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    margin:30px auto;
}

.intro
{
    width:1000px;
    height:300px;
    background-color: white;
    margin:10px auto;
}

.introfirst
{
    padding-top: 30px;
    width:100%;
    padding-bottom:70px;
}

.intro1
{
    font-size:18px;
    color:#333333;
    text-align: center; 
}

.intro2
{
    font-size:12px;
    color:#1dc091;
    text-align: center;
}

.end
{
    margin:80px 0 0 0;
    background:url(footer.png) center center no-repeat #333333;
    height:120px;
    width:100%;
    text-align: center;
    line-height: 160px;
}


.end1
{
    font-size:14px;
    font-family: "PingFang SC";
    letter-spacing: 5px;
    color:#9b9b9b;
    margin-right: 20px;
}

.end2
{
    font-size:14px;
    font-family:PingFang SC;
    color: #9b9b9b;
}
