*
{
    padding:0;
    margin:0;
}

body
{
    background-color: #F4F4F4;
    font-family:"Microsoft YaHei";
}

a
{
    text-decoration: none;
}



.head
{
    width:100%;
    height:80px;
    background-color:white;
    border-bottom:2px solid #eeeeee;
    margin:0 auto;
    position: relative;
}

.head1
{
    margin-right: 70px;
    line-height: 80px;
    font-size: 20px;
    height: 100%;
    width:40px;
    color:red;
}

.head2
{
    font-size: 20px;
    line-height: 80px;
    height:100%;
    width:80px;
    color:#666666;
    margin-right: 110px;
}

.logo
{
    width:99px;
    height:34px;
    float: left;
    margin-top:15px;
    margin-right:60px;
}

.search
{
    height:35px;
    width:350px;
    position: relative;
    background-image:url('search.png');
    margin:0 auto;
    top:-75%;
    left:15%;
}

.searchinp
{
    height:30px;
    width:100px;
    position: absolute;
    border: hidden;
    outline:medium;
    top:2px;
    bottom: 2px;
    left:10px;
}

.searchbut
{
    height: 30px;
    width: 80px;
    position:absolute;
    display: inline-block;
    right:0px;
    background: none;
    border: none;
    cursor:pointer;
}

.signin
{
    width: 90px;
    height: 30px;
    background-color: #1dc091;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    border:hidden;
    line-height: 30px;
    position: absolute;
    right:20px;
    top:20px;
    
}


.photo
{
    width:100%;
    height:350px;
    margin:0 auto;
    text-align: center;
}

.father
{
    width:1000px;
    margin:0 auto;
}

.category
{
    width:100%;
    height:160px;
    margin:0 auto;
    background-color: white;
}
.circle
{
    width:96px;
    height:96px;
    background-color:white;
    border-radius:50%;
    border:2px solid;
    border-color:#1dc091;
    color: #1dc091;
    font-size: 36px;
    text-align: center;
    line-height: 96px;
    display: inline-block;
    text-align: center;
    margin:30px 30px 95px 95px;
}

.main
{
    width:100%;
    height:350px;
    background-color: white;
    margin:0 auto;
    font-size:14px;
    position: relative;
}

.main a
{
    display: block;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.main1
{
    border-right:2px solid #eeeeee;
    width:130px;
    height:220px;
    position: absolute;
    padding:50px;
    left:50px;
}

.main2
{
    border-right:2px solid #eeeeee;
    width:130px;
    height:220px;
    position: absolute;
    padding:50px;
    left:280px;
}

.main3
{
    border-right:2px solid #eeeeee;
    width:130px;
    height:220px;
    position: absolute;
    padding:50px;
    left:50%;
    
}

.main4
{

    width:130px;
    height:220px;
    position: absolute;
    padding:50px;
    left:720px;
}

.info
{
    font-size:12px;
}
.info:hover{color:red}

div.main a:hover {color:red}

.more
{
    width:25px;
    height:25px;
    background-color:white;
    border-radius:50%;
    color:#1dc091;
    line-height:25px;
    font-size:25px;
    border: 1px solid #1dc091;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
}

.intro
{
    width:1000px;
    height:300px;
    background-color: white;
    margin:10px auto;
}

.introfirst
{
    padding-top: 30px;
    width:100%;
    padding-bottom:70px;
}

.intro1
{
    font-size:18px;
    color:#333333;
    text-align: center; 
}

.intro2
{
    font-size:12px;
    color:#1dc091;
    text-align: center;
}

.end
{
    margin:80px 0 0 0;
    background-image:url('footer.png');
    height:120px;
    width:100%;
    position: relative;
    
}
.end1
{
    font-size:14px;
    font-family: "PingFang SC";
    letter-spacing: 5px;
    color:#9b9b9b;
    position: absolute;
    top:62%;
    left:35%;

}

.end2
{
    font-size:14px;
    font-family:PingFang SC;
    color: #9b9b9b;
    position: absolute;
    top:62%;
    left:52%;
}